@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
  background-color: rgb(0, 217, 255)
}

.card {
  font-family: Mukta;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 26%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.69);
  border: 1px solid rgb(255, 0, 0);
  margin: 1.5% auto;
  justify-content: space-around;
  padding: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.head {
  font-family: Caveat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  height: 8%;
  text-align: center;
  margin: 1% auto;
  font-size: 350%;
  color: rgb(255, 255, 255);
  border: 3px solid rgba(177, 0, 0, 0.503);
  background-color: #00000098;
}

.h2{
  font-family: Caveat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 8%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 320%;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  background-color: #ffffffaf;
}

.image{ 
  width: 12vw;
  height: 40vh;
}