@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(223, 223, 223);
  --gray: rgb(74, 74, 74);
  --red: rgb(255, 0, 0);
  --blue: rgb(0, 0, 255);
  --img1: url(https://cdna.artstation.com/p/assets/images/images/025/669/906/large/dino-rhinosaur-done-wp-pink-with-pic.jpg?1586544608);
  --img2: url(https://pbs.twimg.com/media/EZdgO14WoAINDOG.jpg:large);
}

.light-theme {
  --image: var(--img2);
  --primary: var(--white);
  --seconary: var(--black);
  --third: var(--blue)
}

.dark-theme {
  --image: var(--img1);
  --primary: var(--black);
  --seconary: var(--white);
  --third: var(--red)
}

body {
  background-image: var(--image);
  background-attachment: fixed;
}

.card {
  font-family: Mukta;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 26%;
  height: 35%;
  color: var(--seconary);
  background-color: var(--primary);
  border: 1px solid var(--third);
  margin: 1.5% auto;
  justify-content: space-around;
  padding: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.image{ 
  width: 12vw;
  height: 40vh;
}

#btn, #themeSwitcher{
  display: flex;
  width: 19%;
  padding: 2vh;
  margin: 1% auto;
  align-items: center;
  color: var(--seconary);
  background-color: var(--primary);
  border: 1px solid var(--third);
}

#buttons{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.head1 {
  font-family: Caveat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  height: 8%;
  text-align: center;
  margin: 1% auto;
  font-size: 350%;
  color: var(--seconary);
  border: var(--third);
  background-color: var(--primary);
}

#text{
  font-family: Caveat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 8%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 320%;
  color: var(--seconary);
  border: var(--third);
  background-color: var(--primary);
}